@model IEnumerable<Garage2.Models.Vehicle>

<h2>Search for vehicles</h2>

@using ( Ajax.BeginForm( new AjaxOptions { HttpMethod = "get", InsertionMode = InsertionMode.Replace, UpdateTargetId = "vehicleTable" } ) ) { 
    <div class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-md-2">Owner of the vehicle</label>
            <div class="col-md-10">
                <input type="search" name="Owner" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">License Number</label>
            <div class="col-md-10">
                <input type="search" name="LicenseNr" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Length(m)</label>
            <div class="col-md-10">
                <input type="search" name="Length" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Weight(kg)</label>
            <div class="col-md-10">
                <input type="search" name="Weight" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Vehicle type</label>
            <div class="col-md-10">
                @Html.EnumDropDownListFor( model => model.First().TypeOfVehicle )
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Any</label>
            <div class="col-md-10">
                <input type="checkbox" name="Any" value="Any" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Currently parked</label>
            <div class="col-md-10">
                <input type="checkbox" name="Parked" value="Parked" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" value="Search" />
            </div>
        </div>
    </div>
}

<div id="vehicleTable">
    @Html.Partial( "_VehicleTable", Model )
</div>
